<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="6.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Fody" version="6.9.3" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Web.WebView2" version="1.0.3485.44" targetFramework="net472" />
  <package id="WebView2.Runtime.X64" version="139.0.3405.125" targetFramework="net472" />
  <package id="WebView2.Runtime.X86" version="139.0.3405.125" targetFramework="net472" />
</packages>